body{
  background-color: $gray-lighter;
}

.site-content, .site-footer {
  background-color: white;
}

.site-header {
  background-color: #0f7068;
  background-image: url(/Content/Images/site-bg.jpg);
  background-repeat: no-repeat;
  background-position-y: $header-bg-shift;
}

.homepage-intro {
  background-color: #0f7068;
  background-image: url(/Content/Images/site-bg.jpg);
  background-repeat: no-repeat;
  background-position-y: calc(#{$header-bg-shift} - #{$header-height} - #{$header-padding-bottom});
}

.pattern-divider {
  height: 25px;
  //background-color: $theme-accent-dark;
  background-image: url(../images/pattern-tile.svg);
  background-repeat: repeat-x;
}

.hub-bg {
  background-color: $color8;
  background-image: url("/Content/Images/msri-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
