@media (min-width: 1628px){
  .site-header, .site-content, .site-footer {
    width: 1628px !important;
    margin: 0 auto;
  }
}

.site-header, .homepage-intro {
  background-position-x: 60%;
  
  @include media-breakpoint-up(xl){
    background-size: cover;
    background-position-x: center;
  }
}

.site-header {
  z-index: 1000;
  position: relative;
  padding-bottom: $header-padding-bottom;
}

.site-nav {
  position: relative;
  z-index: 1000;
  padding: 12px;
  display: block;
  @include media-breakpoint-up(lg){display: flex;}

  .nav-link{
    font-weight: bold;
  }

  li {
    @include media-breakpoint-down(md){border-bottom: 1px solid #444;}

    a {
    	color: white;
    	font-weight: bold;
    	font-size: 14px;
      padding: 4px 10px;
      margin-right: 2px;
      position: relative;
      z-index: 10;
      @include media-breakpoint-up(xl){margin-right: 10px;}

      text-decoration: none !important;
      display: flex;
      align-items: center;

      &:hover, &:focus {
        background-color: $theme-primary-dark !important;
        @include media-breakpoint-down(md){ background-color: transparent !important; }
        color: white;
        position: relative;
        z-index: 1;

        &::before { color: inherit; }
        &::after { color: inherit; }
      }

      &.active {
        background-color: $theme-primary;
        color: white;
        //border-radius: 50px;

        &:hover, &:focus {
          background-color: $theme-primary-dark;
          color:white;
        }
      }
    }

    &:last-child {
      a {margin-right: 0;}
    }
  }

  li.show {
    a {
      &:hover, &:focus {

      }
    }
  }

  .dropdown-menu {
    background-color: $theme-primary-dark !important;
    border: none !important;
    padding: 15px 10px;
    top: 0px !important;
    width: calc(100% - 26px) !important;
    position: relative;

    span {
      display: block;

      a[href="#"]{
        opacity: .5;
      }
    }

    @include media-breakpoint-up(md){
      top: 6px !important;
      width: auto !important;
      border-top: none !important;
    }
  }

  .dropdown-item {
    &:hover, &:focus {
      background-color: $theme-primary !important;
    }
  }
}

.dm-target{
  @include media-breakpoint-down(md){
    margin-left: 15px;
  }
}

.media.page {
  display: block;
}

.media-list {
  .media-item {
    position: relative;
    margin-bottom: 30px;
  }

  img {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 18px;
    border: 0;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

main {
  padding-bottom: 60px !important;
}

.theme-header {
  h1{
    font-size: 3rem;
  }
}


// #MSRI HUB
.hub-header {
  @extend .hub-bg;
  color: white;
}

.callout-box {
  background-color: $theme-primary;
  padding: 30px;
  border-radius: 8px;
  margin: 15px;
  color: white;
  text-align: center;

  h2 {
    font-size: 21px;
    padding-bottom: 8px;
    border-bottom-color: rgba(255, 255, 255, 0.3);
  }
}

.network-box {
  @extend .callout-box;
  background-color: $theme-primary;
}

.training-box {
  @extend .callout-box;
  background-color: $theme-primary-dark;
}

// #TOPICS

.transition { transition: all 333ms;}

.topics {
  padding-top:    3rem;
  padding-bottom: 4rem;
  display: grid;
  @include media-breakpoint-up(sm){grid-template-columns: 1fr 1fr;}
  @include media-breakpoint-up(lg){grid-template-columns: 1fr 1fr 1fr;}


  .topic{
    min-height: 120px;
    display: flex;
    align-items: flex-start !important;
    padding: 15px;
    border-radius: 8px;
    z-index: 10;
    margin: 10px !important;
    color: white;
    background-color: $msu-green;
    border: none !important;

    h2{
      margin-bottom: 0;
      line-height: 1.2;
      font-size: 21px;
      position: relative;
      width: 100%;
    }

    p {
      font-size: 12px;
      line-height: 1.4;
      width: 80%;
      font-weight: 500;
    }

    i {
      position: relative;
      left: -50px;
      opacity: 0;
      @extend .transition;

      span {
        font-weight: 400;
        font-size: 14px;
        font-family: $gotham;
        position: relative;
        top: -6px;
      }
    }

    &:hover, &:focus {
      outline: none !important;
      outline-offset: none !important;
      box-shadow: 0 0 0 4px $theme-link-highlight;
      z-index: 15;
      margin: 10px !important;
      color: white !important;

      i{
        left: 0;
        opacity: 1;
        @extend .transition;
      }
    }
  }
}