
.people-list {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    flex-flow: row wrap;
    padding: 0;
    
    li {
        display: block;
        width: 100%;
        padding: 0px;
        margin: 15px 10px !important;

        @include media-breakpoint-up(sm){
            width: 260px;
            min-height: 300px;
        }

        .photo {
            margin-bottom: 0;


            a{
                display: block;
               
                &:hover {
                    margin-bottom: 0;
                    border-bottom: 0;
                    outline: 3px solid $theme-secondary;
                    outline-offset: 2px;
                }    
            }
            
        }

        img {
            width: 100px;
            height: auto;
            float: right;
            margin-bottom: 50px;
            border-radius: 4px;
            
            @include media-breakpoint-up(sm) {
                width: 100%;
                float: none;
                margin-bottom: 0;
                border-radius: 4px 4px 0px 0px;
            }
        }

        .img-thumbnail {
            padding: 0;
            border: none;
        }

        .details {
            padding: 10px;
        }

        h2 {
            font-size: 18px;
            margin: 0 !important;
            margin-top: 10px !important;
            margin-left: 0 !important;
            border: none;
            font-weight: 800;
            font-family: $gotham;

            a { color: $theme-secondary;}
            a:hover { color: $theme-secondary-dark;}
        }

        p {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -.6px;

            strong {
                letter-spacing: normal;
            }

            a.btn {margin-top: 10px;}
        }
        
    }
}


// STYLES FOR INDIVDUAL PEOPLE PAGES //


.person {
    .page-header{
        h1 {
            font-size: clamp(2rem, calc(1rem + 2.81vw), 3rem);
            line-height: 1;
        }

        p {
            margin-bottom: 0px;
        }
    }

    .person-photo{
        margin-top: -34px;
    }

    .person-links {
        font-size: 21px;

        a {
            text-decoration: none;
            margin-right: 5px;
        }
    }
}